In [ ]:
                                                          #graterthen lesserthen
A = int (input ("Enter any number : "))
B = int (input ("Enter any number : "))
C = int (input ("Enter any number : "))
if A > B and A > C:
  print("A is bigger !")
elif B > A and B > C:
  print("B is bigger !")
else:
  print("C is bigger ! ")

Enter any number : 67
Enter any number : 89
Enter any number : 78
B is bigger !

In [ ]:
                                                            # Mark sheet program
Tamil = int(input           ("Enter Tamil Mark          : "))
English = int (input        ("Enter English Mark        : "))
Maths = int (input          ("Enter Maths Mark          : "))
Science = int (input        ("Enter Science Mark        : "))
Social_Science = int (input ("Enter Social Science Mark : "))
Total = Tamil + English + Maths + Science + Social_Science
print("Total mark :", Total)
Average = Total/5
print("Average    :", Average)
if Average > 85:
  print("Congratulation ! Your Firat Class.")
elif Average > 60:
  print("Congratulation ! Your Second Class. ")
elif Average > 45:
  print ("Congratulation ! Your Third Class. ")
else:
  print("Sorry Your Fail.")

Enter Tamil Mark          : 67
Enter English Mark        : 89
Enter Maths Mark          : 98
Enter Science Mark        : 79
Enter Social Science Mark : 87
Total mark : 420
Average    : 84.0
Congratulation ! Your Second Class.

In [ ]:
                                                               # simple interest
p = float (input ("Enter principle Amount : "))
n = int (input   ("Enter Number of Year's : "))
r = float (input ("Enter Rate of Intrest  : "))
intrest = (p*n*r)/100
print ("Intrest Amount :",intrest)
Full_Amount = p + intrest
print ("Total Amount   :",Full_Amount)

Enter principle Amount : 500000
Enter Number of Year's : 5
Enter Rate of Intrest  : 6.5
Intrest Amount : 162500.0
Total Amount   : 662500.0

In [ ]:
                                                             # Compound Intrest
p = int (input("Enter principle Amount : "))
n = int (input("Enter Number of Year's : "))
r = float (input ("Enter Rate of Intrest : "))
Full_Amount = p*(1+(r/100))**n
print("Full Amount :",Full_Amount)
Intrest = Full_Amount - p
print("Intrest : ",Intrest)

Enter principle Amount : 500000
Enter Number of Year's : 5
Enter Rate of Intrest : 6.5
Full Amount : 685043.3317078123
Intrest :  185043.33170781226

In [ ]:
                                                              #Factorial Number
Num = int(input ("Enter Any Number :"))
Factorial = 1
if Num < 0:
  print(Num,"Factorial Not Found")
elif Num == 0:
  print("Factorial is 1")
else:
  for i in range (1,Num + 1):
    Factorial = Factorial * i
    print(i, "Factorial", Factorial)

Enter Any Number :5
1 Factorial 1
2 Factorial 2
3 Factorial 6
4 Factorial 24
5 Factorial 120

In [ ]:
                                                          # Prime Number Finding
Number = int(input("Enter Any Number : "))
if Number == 1:
    print(Number,"is Nutral Number !")
elif Number > 0:
  for i in range(2,Number):
    if (Number%i) == 0:
      print(Number,"is not a prime number !")
      break
  else:
      print(Number,"is prime number !")

else:
    print(Number,"is not a prime number !")

Enter Any Number : 3
3 is prime number !

In [ ]:
                                                                # Perfect Number
Num = int (input("Enter any number : "))         # 6,28,496,8128 .... perfect number
sum = 0
for i in range (1,Num):
  if (Num % i) == 0:
    sum = sum + i
if (sum == Num):
  print(Num, "is a perfact number !")
else:
  print(Num, "is not perfact number !")

Enter any number : 28
28 is a perfact number !

In [ ]:
                                                            # Calender Printing
from calendar import*
Year = int (input("Enter Year : "))
print(calendar(Year))

Enter Year : 2024
                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [ ]:
import calendar
Year = int(input("Enter Year : "))
Month = int(input("Enter Month : "))
print(calendar.month(Year,Month))

Enter Year : 2023
Enter Month : 11
   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [ ]:
                                                              # fabinocci number
n = int (input ("Enter any Number : "))
a=0
b=1
sum=0
count=1
print("Fibonacci Series :",end=" ")
while (count <= n):
  print(sum,end=" ")
  count += 1
  a = b
  b =sum
  sum = a+b

Enter any Number : 7
Fibonacci Series : 0 1 1 2 3 5 8

In [ ]:
                                                             # palindrome number
str = input("Enter your string: ")
length = len(str)
str = str.lower()
mid = length//2
rev = -1
for i in range(mid) :
    if str[i] == str[rev]:
        i +=1
        rev -=1
    else :
        print (str, "is not a palindrome")
        break
else:
    print(str, "is a palindrome")

Enter your string: malayalam
malayalam is a palindrome