Tuples :

1. Tuples are ordered sequence of mixed data types
2. Tuples are written in comma separated elements within parenthesis

In [3]:
tuple = (1,2,3,4,5,5,4,3,2,1)

In [4]:
type(tuple)

tuple

count : The count method returns the number of times a specified value appears in the tuple .

In [29]:
tuple = (1,2,3,4,5,5,4,3,2,1)

In [30]:
a = tuple.count(5)

In [31]:
a

2

In [32]:
len(tuple)

10

In [33]:
tuple[-1]

1

index : The index methods find first occurrence of the specified value . The index methods raises an exceptionif the value is not found

In [15]:
tuple = (1,2,3,4,5,5,4,3,2,1)

In [16]:
a = tuple.index(5)

In [17]:
a

4

Tuple Unpacking : Tuple unpacking means you can store every element of a tuple in different variables.

In [21]:
my_tuple = ("a","b",3)

In [22]:
t1,t2,t3 = my_tuple

In [23]:
t1

'a'

In [24]:
t3

3

Tuple Without Parenthesis : to create a tuple without using parenthesis write a comma-separaated value after assigning your variable.

In [34]:
tuple = 1,2,3,4,5,5,4,3,2,1,"Hemu"

In [35]:
print(type(tuple))

<class 'tuple'>

In [36]:
len(tuple)

11

In [37]:
tuple[-1]

'Hemu'

Concatenation

In [38]:
tup1 = ("madurai","tiruchy","chennai")

In [39]:
tup2 = ("kovai","nagai","thirunilveli")

In [40]:
tup3 = (tup1 + tup2)

In [41]:
tup3

('madurai', 'tiruchy', 'chennai', 'kovai', 'nagai', 'thirunilveli')

min max sum functions

In [1]:
tuple = (1,2,3,4,5,5,4,3,2,1)

In [2]:
sum(tuple)

30

In [3]:
max(tuple)

5

In [4]:
min(tuple)

1

sorting

In [5]:
tuple = (1,2,3,4,5,5,4,3,2,1,9,8,7,11,56)

In [6]:
tuple1 = sorted(tuple)

In [7]:
tuple1

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 7, 8, 9, 11, 56]

nasted

In [9]:
t = (1,5,"Hello","World", ("Java", "Python"))

In [13]:
t[3][1]

'o'